<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test Memory</title>
    <link rel="shortcut icon" href="#" /> <!--Gets rid of the favicon error--> 
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&family=Sora&display=swap" 
          rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="module" src="../js/multiGameElements.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

</head>
<body>
  
  <!--Levels: Each level has 6x cards-->
  <!--Difficulty: Either words/colors/images on card-->

  <div id="mainContainer">

    <div id="content">
      <header>
        <h1> Memory Game!</h1>
      </header>

      <p><span class="bold">Instructions:</span> Turn over any 2 cards. 
        If the cards match, you get to go again. Otherwise, the cards will 
        flip back upside down and your turn will end.
        Try to match more than your opponent can!</p>

      <div id="setup">
        
        <div class="gameElement" style="display: none">
          <div id="levelElement">
            <select id="level" class="level">
              <option value=6>6</option>
            </select>
          </div>

          <div id="difficultyElement" style="display: none">
            <h2>Choose a Difficulty<h2>
            <select id="difficulty" class="difficulty">
              <option value=2>Medium: Images</option>
            </select>
          </div>
        </div>

        <div class="score show">
          <div class="timer">
            <span id="minutes">00</span>:<span id="seconds">00</span>
          </div>

          <div class="tries">
            You: <span id="mycounter"></span>/36
          </div>
          <div class="tries">
            Opponent: <span id="oppcounter"></span>/36
          </div>
        </div>

      </div>
    </div>

    <div id="game">
    </div>
  </div>

  <footer>
    Copyright &copy; 2020
  </footer>
</body>
</html>