<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login: Test Memory</title>   
    <link rel="shortcut icon" href="#" /> <!--Gets rid of the favicon error--> 
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&family=Sora&display=swap" 
          rel="stylesheet">
          <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="../js/waitingRoomPage.js"></script>
  </head>
  <body>
    <div class="centerPage">

        <div class="centered">
            <h2>Waiting for someone to join the room...</h2>
        </div>

    </div>
    
  </body>
</html>